*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Raleway', sans-serif; }

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600; }

p {
  letter-spacing: .03em;
  line-height: 25px;
  font-size: 18px; }

hr {
  margin-top: 0; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

#summary a, #table h1, #table h3, #table p, #accessories h1, #footer {
  text-align: center; }

.summaryCenter, #youngLivingOils {
  margin-left: auto;
  margin-right: auto; }

.dewdrop, .bottles, .packets, .red, .magazines, .happyoiler {
  overflow: auto;
  float: left;
  width: 33%;
  height: 400px;
  border: 2px solid lightgrey;
  box-shadow: 2px 3px 2px #E0E0E0;
  margin: 20px; }

.dewdrop, .bottles, .packets, .red, .magazines, .happyoiler {
  position: relative;
  width: 400px;
  height: 400px; }

.dewdrop:before, .bottles:before, .packets:before, .red:before, .magazines:before, .happyoiler:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s; }

.dewdrop:hover:before, .bottles:hover:before, .packets:hover:before, .red:hover:before, .magazines:hover:before, .happyoiler:hover:before {
  color: white;
  opacity: 1;
  text-align: center;
  vertical-align: middle; }

.dewdrop:hover:after, .bottles:hover:after, .packets:hover:after, .red:hover:after, .magazines:hover:after, .happyoiler:hover:after {
  color: white;
  position: absolute;
  font-size: 2em;
  text-align: center; }

#header {
  background-image: url("../img/bamboo-top.png");
  height: 800px;
  width: 100%;
  background-size: cover; }

.tagline {
  color: #fff;
  position: absolute;
  top: 340px;
  left: 50px; }
  .tagline h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 66px;
    font-weight: normal;
    margin-top: 0;
    text-shadow: 1px 1px 1px white; }
  .tagline h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
    width: 60%;
    line-height: 45px; }

#summary {
  background-image: url("../img/oils.jpg");
  width: 100%;
  height: 600px;
  overflow: auto; }
  #summary h2 {
    margin-top: 0;
    padding-top: 70px; }
  #summary a {
    background-color: #794A86;
    color: #fff;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 1.2em;
    border: 2px solid #794A86;
    border-radius: 100px;
    margin-top: 50px;
    padding: 10px 15px 10px 15px;
    text-decoration: none; }

.transparent {
  content: " ";
  z-index: 10;
  display: block;
  height: 600px;
  background: rgba(255, 255, 255, 0.7); }

.summaryCenter {
  width: 50%; }

/* Oils section and Table Content
=================*/
#table {
  padding-top: 50px;
  width: 100%; }
  #table p {
    font-size: 12px;
    text-shadow: 1px 1px 1px white; }

table {
  border-collapse: collapse;
  border: 2px solid lightgrey;
  box-shadow: 2px 3px 2px #E0E0E0;
  overflow: hidden; }

img {
  max-width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px; }

tbody tr {
  border-left: 1px solid #E0E0E0; }

tbody tr td {
  width: 130px; }

tbody tr th {
  text-shadow: 0 2px 2px white; }

td, th {
  padding: 5px;
  position: relative;
  outline: 10; }

.redBrown {
  background-color: #884240;
  height: 30px;
  margin: 5px; }

.purple {
  background-color: #7d5287;
  height: 30px;
  margin: 5px; }

.digize {
  background-color: #bd3944;
  height: 30px;
  margin: 5px; }

.purification {
  background-color: #aa3a65;
  height: 30px;
  margin: 5px; }

.lemon {
  background-color: #EAAB49;
  height: 30px;
  margin: 5px; }

.deepPink {
  background-color: #de3759;
  height: 30px;
  margin: 5px; }

.green {
  background-color: #68a854;
  height: 30px;
  margin: 5px; }

.peppermint {
  background-color: #3C5D57;
  height: 30px;
  margin: 5px; }

/* ---- Table Hover Effects ----*/
td:hover::after, th:hover::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1; }

td:hover::after,
th:hover::after {
  background-color: #E0E0E0; }

/* Accessories Section with Image Gallery
===================*/
#accessories {
  margin-top: 50px;
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.1); }

#gallery {
  margin: 0 auto;
  overflow: auto;
  padding-left: 75px; }

/* Image Gallery with Hovers
===================*/
.dewdrop {
  background-image: url("../img/dewdrop.jpg"); }
  .dewdrop:hover:after {
    content: "The Dewdrop Diffuser";
    top: 170px;
    left: 50px; }

/* ---- Small Bottles ----*/
.bottles {
  background-image: url("../img/small-bottles.jpg"); }
  .bottles:hover:after {
    content: "2oz Samples Bottles & Roller Top";
    top: 170px;
    left: 30px; }

/* ---- Sample Packets ----*/
.packets {
  background-image: url("../img/sample-packets.jpg"); }
  .packets:hover:after {
    content: "4oz Sample Packets";
    top: 170px;
    left: 50px; }

/* ---- Ningxia Red Packets ----*/
.red {
  background-image: url("../img/red.jpg"); }
  .red:hover:after {
    content: "Samples of Ningxia Red";
    top: 170px;
    left: 50px; }

/* ---- Magazines ----*/
.magazines {
  background-image: url("../img/magazines.jpg"); }
  .magazines:hover:after {
    content: "Literature to Help You Learn About Oils";
    top: 170px;
    left: 50px; }

/* ---- Happy Oiler ----*/
.happyoiler {
  background-image: url("../img/happyoiler.jpg"); }
  .happyoiler:hover:after {
    content: "Join a Community of Fellow Oilers";
    top: 170px;
    left: 40px; }

/* Footer
===================*/
#footer {
  padding-bottom: 30px; }
  #footer p {
    padding-top: 60px;
    padding-bottom: 20px; }
  #footer img {
    position: relative;
    left: 250px;
    bottom: 75px;
    transform: rotate(15deg); }

#footer a {
  text-decoration: none;
  border: 2px solid #794A86;
  background-color: #794A86;
  color: white;
  padding: 10px 20px 10px 20px; }
  #footer a:hover {
    border: 2px solid #794A86;
    background-color: white;
    color: #794A86;
    padding: 10px 20px 10px 20px; }

/*# sourceMappingURL=application.css.map */
