/* Accessories Section with Image Gallery
===================*/

#accessories{
  margin-top: $fiftypx;
  margin-bottom: 0;
  padding-top: $fiftypx/2;
  padding-bottom: $fiftypx;
  background-color: rgba(0, 0,0, 0.1);
}

#accessories h1 {
  @extend %centerText;
}

#gallery {
  margin: 0 auto;
  overflow: auto;
  padding-left: $fiftypx + 25px;
}

/* Image Gallery with Hovers
===================*/

.dewdrop {
  @extend %galleryDiv;
  @extend %galleryImage;
  @include galleryImageMX('dewdrop.jpg');
  &:before {
    @extend %darkHover;
  }
  &:hover:before {
    @extend %hoverBefore;
  }
  &:hover:after {
    @include galleryText("The Dewdrop Diffuser", 170px, 50px);
    @extend %hoverAfter;
  }
}


/* ---- Small Bottles ----*/

.bottles {
  @extend %galleryDiv;
  @extend %galleryImage;
  @include galleryImageMX('small-bottles.jpg');
  &:before {
    @extend %darkHover;
  }
  &:hover:before {
    @extend %hoverBefore;
  }
  &:hover:after {
    @include galleryText("2oz Samples Bottles & Roller Top", 170px, 30px);
    @extend %hoverAfter;
  }
}

/* ---- Sample Packets ----*/

.packets {
  @extend %galleryDiv;
  @extend %galleryImage;
  @include galleryImageMX('sample-packets.jpg');
  &:before {
    @extend %darkHover;
  }
  &:hover:before {
    @extend %hoverBefore;
  }
  &:hover:after {
    @include galleryText("4oz Sample Packets", 170px, 50px);
    @extend %hoverAfter;
    }
}

/* ---- Ningxia Red Packets ----*/

.red {
  @extend %galleryDiv;
  @extend %galleryImage;
  @include galleryImageMX('red.jpg');
  &:before {
    @extend %darkHover;
  }
  &:hover:before {
    @extend %hoverBefore;
  }
  &:hover:after {
    @include galleryText("Samples of Ningxia Red", 170px, 50px);
    @extend %hoverAfter;
  }
}

/* ---- Magazines ----*/

.magazines {
  @extend %galleryDiv;
  @extend %galleryImage;
  @include galleryImageMX('magazines.jpg');
  &:before {
    @extend %darkHover;
  }
  &:hover:before {
    @extend %hoverBefore;
  }
  &:hover:after {
    @include galleryText("Literature to Help You Learn About Oils", 170px, 50px);
    @extend %hoverAfter;
  }
}


/* ---- Happy Oiler ----*/

.happyoiler {
  @extend %galleryDiv;
  @extend %galleryImage;
  @include galleryImageMX('happyoiler.jpg');
  &:before {
    @extend %darkHover;
  }
  &:hover:before {
    @extend %hoverBefore;
  }
  &:hover:after {
    @include galleryText("Join a Community of Fellow Oilers", 170px, 40px);
    @extend %hoverAfter;
  }
}
