#summary {
  background-image: url("../img/oils.jpg");
  width: $full-width;
  height: 600px;
  overflow: auto;
  h2 {
    margin-top: 0;
    padding-top: $fiftypx + 20px;
  }
  a {
    background-color: $purple;
    color: $white;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 1.2em;
    border: 2px solid $purple;
    border-radius: $fiftypx * 2;
    margin-top: $fiftypx;
    padding: 10px 15px 10px 15px;
    @extend %centerText;
    text-decoration: none;
  }
}

.transparent {
  content: " ";
  z-index: 10;
  display: block;
  height: 600px;
  background: rgba($white, 0.7);
}

.summaryCenter {
  @extend %margin-auto-LR;
  width: $full-width/2;
}
