/* Oils section and Table Content
=================*/

#youngLivingOils {
  @extend %margin-auto-LR;
}

#table {
  padding-top: $fiftypx;
  width: $full-width;
  h1, h3 {
    @extend %centerText;
  }
  p {
    @extend %centerText;
    font-size: 12px;
    text-shadow: 1px 1px 1px white;
  }
}

table {
  border-collapse: collapse;
  border: 2px solid lightgrey;
  box-shadow: 2px 3px 2px #E0E0E0;
  overflow: hidden;
}

img {
  max-width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

tbody tr {
  border-left: 1px solid #E0E0E0;
}

tbody tr td {
  width: 130px;
}

tbody tr th {
  text-shadow: 0 2px 2px white;
}

td, th {
  padding: 5px;
  position: relative;
  outline: 10;
}

@include cellColor("peppermint", $peppermint);
@include cellColor("stressAway", $stressAway);
@include cellColor("frank", $frank);
@include cellColor("lemon", $lemon);
@include cellColor("purification", $purification);
@include cellColor("digize", $digize);
@include cellColor("lavender", $lavender);
@include cellColor("thieves", $thieves);


/* ---- Table Hover Effects ----*/

td:hover::after, th:hover::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: $full-width;
  z-index: -1;
}

td:hover::after,
th:hover::after {
  background-color: #E0E0E0;
}
