@mixin galleryImageMX($imgFile) {
  background-image: url("../img/#{$imgFile}");
}

@mixin galleryText($caption, $top, $left) {
  content: "#{$caption}";
  top: $top;
  left: $left;
}

@mixin tableColor($color, $height: 30px, $margin: 5px) {
  background-color: $color;
  height: $height;
  margin: $margin;
}
