// Colors

$white: #fff;
$purple: #794A86;

$peppermint: #3C5D57;
$stressAway: #68a854;
$frank: #de3759;
$lemon: #EAAB49;
$purification: #aa3a65;
$digize: #bd3944;
$lavender: #7d5287;
$thieves: #884240;


// Measurements

$fiftypx: 50px;
$full-width: 100%;

// Fonts
$ralewayFont: 'Raleway', sans-serif;
